*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav.menu{
    background-color: black;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

nav.menu h1, p{
    color: white;
}

nav.menu h1{
    color: white;
    padding: 20px;
    margin: 0px 0px 0px 20px;
    
}

nav.menu > button{
    background: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.menu button:focus ~ ul{
    height: 250px;
}


nav.menu, ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    list-style: none;
}

nav.menu > ul > li{
    padding: 15px 20px;
}

nav.menu li:hover, nav.menu h1:hover, nav.menu button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(255, 255, 255, 0.2);
}


@media (max-width: 700px){
    nav.menu{
        padding: 0px;
        align-items: flex-start;
    }
    nav.menu, ul{
        flex-direction: column;
    }

    nav.menu > ul{
        text-align: center;
        height: 0px;
        margin: 0px;
    }

    .menu > h1{        
        margin: 0px 10px;
    }

    nav.menu > button{
        display: flex;
    }

    .menu ul, li{
        width: 100%;

    }
}
