@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* overflow: hidden; */
}

h1{
    text-align: center;
}

main{
    height: 210vh;
    width: 480px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;

    transition: width .3s, height .3s ease;
}

main > #imagens{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(5, 300px);
    gap: 10px;
    height: 99%;
    margin: 10px 20px;
    background-color: white;
    border-radius: 10px;

    
}

#imagens > .photo{
    position: relative;
    background-color: black;
    height: 300px;
    width: 200px;
    margin: 5px;
    color: white;
    border-radius: 10px;
    opacity: 100%;

    transition: width .3s, height .3s ease;
}


#imagens > .photo:hover{
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}



#imagens > .photo > span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    text-align: end;
    color: rgba(0, 0, 0, 0.774);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;

    transition: opacity 0.3s;
}


#imagens > .photo:hover span{
    opacity: 1;
    transition: .3s;
}

#imagens > .photo > span:hover{
    cursor: pointer;
    opacity: 80%;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translate(2px, -2px);
    
}
    

#imagens > .photo > span:nth-child(1){
    position: absolute;
    left: 60%;
    top: 3%;
}
#imagens > .photo > span:nth-child(2){
    position: absolute;
    left: 80%;
    top: 3%;

}
#imagens > .photo > span:nth-child(3){
    position: absolute;
    left: 80%;
    top:86%;
}


#imagens > .photo:nth-child(1){
    background-image: url(https://images.pexels.com/photos/14111067/pexels-photo-14111067.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


#imagens > .photo:nth-child(2){
    background: url(https://images.pexels.com/photos/9571268/pexels-photo-9571268.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagens > .photo:nth-child(3){
    background-image: url(https://images.pexels.com/photos/13555353/pexels-photo-13555353.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 2;
    width: 420px;
}

#imagens > .photo:nth-child(3) > span:nth-child(1){
    position: absolute;
    left: 2%;
    top: 2%;
}
#imagens > .photo:nth-child(3) > span:nth-child(2){
    position: absolute;
    left: 90%;
    top: 2%;

}
#imagens > .photo:nth-child(3) > span:nth-child(3){
    position: absolute;
    left: 90%;
    top: 88%;
}


#imagens > .photo:nth-child(4){
    background: url(https://images.pexels.com/photos/8717989/pexels-photo-8717989.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#imagens > .photo:nth-child(5){
    background-image: url(https://images.pexels.com/photos/11278592/pexels-photo-11278592.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: calc(61%);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 2;
    grid-column: 2;
    height: 610px;
    
}

#imagens > .photo:nth-child(5) > span:nth-child(3){
    position: absolute;
    left: 80%;
    top: 92%;
}


#imagens > .photo:nth-child(6){
    background: url(https://images.pexels.com/photos/8021289/pexels-photo-8021289.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#imagens > .photo:nth-child(7){
    background-image: url(https://images.pexels.com/photos/16643017/pexels-photo-16643017/free-photo-of-animal-bicho-gato-animal-de-estimacao.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

}


#imagens > .photo:nth-child(8){
    background: url(https://images.pexels.com/photos/8912074/pexels-photo-8912074.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagens > .photo:nth-child(9){
    background-image: url(https://images.pexels.com/photos/5288818/pexels-photo-5288818.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#imagens > .photo:nth-child(10){
    background: url(https://images.pexels.com/photos/16660338/pexels-photo-16660338/free-photo-of-papel-de-parede-4k-wallpaper-4k-arquitetura-fundo.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}






