@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    background-color: #40352C;
    font-family: sans-serif;
}

header{
    padding: 2vh;
    background-color: #8C6954;
    position: relative;
}

.logo{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #F2CEAE;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
    transition: 1s;
}

.logo:hover{
    box-shadow: 1px 1px 15px 2px white;
}

header > h1{
    text-align: center;
    color: #F2CEAE;
    font-size: 2.4em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
    font-weight: bolder;
}

header > p{
    text-align: center;
    color: #F2CEAE;
    margin-top: 20px;
}

nav.menu{
    position: relative;
    display: flex;
    justify-content: end;
    background-color: #F2CEAE;
    padding: 5px;
}

nav.menu > a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    transition: 0.2s;
}

nav.menu > a:hover{
    transform: scale(1.1);
    color: #40352C;
    background-color: #D9A78B;
}


/* header end */

main{
    margin: auto;
    width: 95%;
    background-color: #D9A78B;
    box-shadow: 1px 0px 50px;
    border-radius: 0px 0px 10px 10px;
}

.retratil__img1{
    padding: 20px 0px 50px 0px;
}

.retratil__img1 > h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.8em;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    color: white;
    margin: 50px;
}

.retratil__img1 > div{
    background-image: url(image/Retratil-3.jpg);
    background-position: center 45%;
    height: 65vh;
    background-size: cover;
}

.sub{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #8C6954;
    text-align: center;
    padding: 30px;
    font-size: 4.5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    color: wheat;
}

.sub-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #8C6954;
    text-align: center;
    padding: 20px;
    margin: 50px 0px -20px 0px;
    font-size: 3.5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
    color: white;
}

.portartil__style__01{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
    padding: 10px;
}

.portartil__style__01 > p{
    display: flex;
    text-align: justify;
    text-indent: 40px;
    line-height: 90px;
    align-items: center;
    font-size: 2.3em;
    font-style: italic;
    width: 40vw;
    padding: 20px;

}

.portartil__style__01 > div.container{
    background-image: url(image/Portartil-2.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 25vw;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
}







.retratil__img2{
    padding: 20px 0px 50px 0px;
}

.retratil__img2 > div{
    background-image: url(image/Retratil-1.jpg);
    background-position: center 45%;
    height: 65vh;
    background-size: cover;
}





.portartil__style__02{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
    padding: 10px;
}

.portartil__style__02 > p{
    display: flex;
    text-align: justify;
    text-indent: 40px;
    line-height: 90px;
    align-items: center;
    font-size: 2.3em;
    font-style: italic;
    width: 40vw;
    padding: 20px;

}

.portartil__style__02 > div.container{
    background-image: url(image/Portartil-4.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 25vw;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
}


.retratil__img3{
    padding: 0px 0px 50px 0px;
}

.retratil__img3 > div{
    background-image: url(image/Retratil-2.jpg);
    background-position: center 45%;
    height: 65vh;
    background-size: cover;
}


.portartil__style__03{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
    padding: 10px;
    margin: 20px 0px 50px 0px;
}

.portartil__style__03 > p{
    display: flex;
    text-align: justify;
    text-indent: 40px;
    line-height: 90px;
    align-items: center;
    font-size: 2.3em;
    font-style: italic;
    width: 40vw;
    padding: 20px;

}

.portartil__style__03 > div.container{
    background-image: url(image/Portartil-3.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 25vw;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
}


.portartil__style__04{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
    padding: 10px;
    margin: 20px 0px 50px 0px;
}

.portartil__style__04 > p{
    display: flex;
    text-align: justify;
    text-indent: 40px;
    line-height: 90px;
    align-items: center;
    font-size: 2.3em;
    font-style: italic;
    width: 40vw;
    padding: 20px;

}

.portartil__style__04 > div.container{
    background-image: url(image/Portartil-1.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 25vw;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
}


footer{
    background-color: black;
    padding: 20px;
}

footer > h1{
    color: white;
    text-align: center;
}

footer > p{
    color: white;
    text-align: center;
}

footer > p > a{
    text-decoration: none;
    color: #F2CEAE;
    transition: .4s;
}

footer > p > a:hover{
    text-decoration: underline;
    color: #D9A78B;
}