@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body{
    margin: 0;
    padding: 0;
    margin-top: -16px;
}


header{
    width: 100%;
    height: 110px;
    background-color: #333;
    position: relative;
    position: fixed;
    z-index: 1;
}


.logo{
    background-image: url(https://www.lamborghini.com/sites/it-en/files/themes/custom/lambo_facelift_2019/images/logo.png);
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 3.7em;
    top: 2em;
}

.content-1{
    float: left;
    margin-top: 35px;
    margin-left: 140px;
    font-size: 1em;
}

.content-2{
    float: right;
    margin-top: 35px;
    margin-right: 50px;
}



ul{
    float: left;
}

li{
    float: left;
    list-style: none;
}

.nav-1{
    margin-left: -20px;
}

.nav-1 ul li a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    text-transform: uppercase;
}



.nav-2 ul li a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    text-transform: uppercase;
}

.ul-1 li a i{
    transform: scale(1.4);
}

/*        fim do header          */

.slider{
    width: 100%;
    height: 102vh;
    overflow: hidden;
}


.slides{
    width:100%;
    height: 100vh;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    position: relative;
    transition: ease-in-out 1s;
}


.slide img{
    width: 100vw;
}



.manual-navgation{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 20px;
    display: flex;
    justify-content: space-around;
}

.manual-btn{
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s;
    margin-left: 20px;
    width: 100px;
    margin-left: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}


.navgation-auto div{
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px;
    width: 100px;
    transition: .6s;
}

.navgation-auto{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 20px;
    display: flex;
    justify-content: center;
    
}

#radio1:checked ~ .navgation-auto .auto-btn1{
    background-color: #333;
}
#radio2:checked ~ .navgation-auto .auto-btn2{
    background-color: #333;
}
#radio3:checked ~ .navgation-auto .auto-btn3{
    background-color: #333;
}
#radio4:checked ~ .navgation-auto .auto-btn4{
    background-color: #333;
}


/* fim das imagens */


.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.900);
}

div.cards{
    position: relative;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

.cards h2{
    font-family: "Pirata One", system-ui;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 5px goldenrod;
}

.desc{
    position: relative;
    height: 300px;
    width: 430px;
    overflow: hidden;
    margin: 0px 20px 0px 10px;
    float: left;
}

.desc img{
    position: absolute;
    bottom: -50%;
    right: -5%;
}

.desc1{
    position: absolute;
    float: right;
    height: 300px;
    width: 460px;
    top: 25%;
    right: -1%;
    margin: 0px 20px 0px 10px;
    display: flex;
    align-items: center;
}

.sobre p{
    font-size: 1.4em;
    padding: 10px 20px;
    font-variant: small-caps;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-indent: 30px;
    text-align: start;
    letter-spacing: 1px;
}

.urus img{
    left: -23%;
    top: -10%;
    width: 600px;
}

.urus p{
    font-size: 1.3em;
}

.veneno img{
    width: 800px;
    top: -50%;
    left: -60%;
}

.veneno p{
    font-size: 1.3em;
}


/*       Fim da section sobre      */




section.news{
    width: 1270px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
}

section.news img{
    width: 1270px;
    height: 550px;
    display: block;
}

h2.h2-news{
    font-size: 2em;
    margin-top: 80px;
}

.news h1{
    font-size: 8em;
    margin: -15px 0px 20px 0px;
}


.news span{
    display: block;
    margin: 50px 0px 20px 0px;
    font-size: 1.3em;
    font-weight: 500;
}

.news button{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin-left: 5px;
    padding: 5px 10px;
    transition: background .3s;
    cursor: pointer;
    display: block;
    margin-bottom: -20px;
}


.news button:hover{
    background-color: #333;
    color: white;
}

.news h3{
    width: 820px;
    float: left;
    font-size: 2.3em;
    margin-bottom: 0px;
}

.news a.h3-read, a.read, button.all{
    float: right;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.295);
    width: 210px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    transition: background .4s;
}

.news a.h3-read:hover, a.read:hover{
    color: white;
    background-color: #333;
}

.news p.year{
    color: rgba(0, 0, 0, 0.541);
    font-size: 1.1em;
    font-weight: 400;
}



.card-img{
    background-color: red;
    margin: 30px 0px;
    width: 630px;
    height: 250px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.card-img img{
    max-width: 630px;
    max-height: 250px;
}

.card-info{
    margin: 30px 0px;
    height: 250px;
    width: 600px;
    float: right;
}

.card-info p{
    margin: 0px;
    margin-bottom: 50px;
    font-size: 1em;
    color: gray;
    font-weight: 300;
    letter-spacing: 1px;
}

.card .read{
    float: left;
}

.card a.event{
    text-decoration: none;
    color: black;
    padding: 5px 0px;
    transition: ease .3s;
    margin-bottom: -20px;
    margin-top: 30px;
    display: block;
    width: 70px;
    text-align: center;
}

.card a.event:hover{
    background-color: #333;
    color: white;
}

.card h2{
    font-size: 2.1em;
    width: 450px;
    margin-bottom: 0;
    cursor: pointer;
}

/* .c1 h2{
    margin-top: 0px;
} */

.c1 a.read{
    margin-top: 30px;
}

.c1 p{
    margin-bottom: 20px;
}

.more{
    width: 100%;
    height: 250px;
    position: relative;
}

button.all{
    background-color: #333;
    color: white;
    float: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    font-size: 1em;
}

button.all:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 49.4vh;
    background-color: #181818;
}