body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.caixa{
    width: 400px;
    background: #dedede url(Imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
    background: url(Imagens/topo2.png) no-repeat left top;
    padding: 10px 20px 0 20px;
    text-align: center;
}

.caixa p{
    padding: 0px 20px;
    text-align: justify;
    margin-bottom: 0;
}


.caixa .ultimo{
    background: url(Imagens/baixo2.png) no-repeat left bottom;
    width: 400px;
    height: 24px;
}