*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
    width: 400px;
    height: 400px;
}



section .square{
    background-color: red;
    width: 90px;
    height: 90px;
    margin: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .square:nth-child(1){
    position: absolute;
    left: 39%;
    top: 40%;
    background-color: red;
}
section .square:nth-child(2){
    position: absolute;
    left: 50%;
    top: 40%;
    background-color: green;
    
}
section .square:nth-child(3){
    position: absolute;
    left: 39%;
    top: 51%;
    background-color: blue;
    
}
section .square:nth-child(4){
    position: absolute;
    left: 50%;
    top: 51%;
    background-color: yellow;
}