*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    position: relative;
    width: 80%;
    height: 300px;
    background-color: blue;   
}

.menu__iten:nth-child(1){
    background-color: red;
    padding: 50px;
    position: absolute;
    left: 40%;
    top: 30%;
    transform: scale();
}

.menu__iten:nth-child(2){
    position: absolute;
    top: 30%;
    background-color: green;
    padding: 50px;
}