@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.925);
}

header{
    background: black;
}

header h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
    text-decoration: none;
}

.list ul li{
    display: inline;
    background: whitesmoke;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
    color: black;

}

.list a{
    text-decoration: none;
}

.login{
    display: flex;
    justify-content: right;
}

.login button{
    background: #fff;
    padding: 10px 15px;
    margin: 10px;
    color: black;
    font-weight: bolder;
    border-radius: 50px;
}

main{
    margin: 20px;
    padding: 20px;
}

section{
    color: #fff;
}

.line-one{
    border: 1px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row-reverse;
}


.line-two{
    display: flex;
    align-items: center;
}

.line-one p{
    width: 300px;
    height: 100px;
    text-align: justify;
    margin: 70px 0px;
}
    


section img{
    margin: 20px;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}