body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

img{
    height: 200px;
    border-radius: 100px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}

div{
    text-align: center;
    padding: 8px;
}

footer{
color: white;
text-align: center;
font-style: italic;
}