@charset "UTF-8";
@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items:center ;
    justify-content: center;
    
}

.container{
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 200px;
    top: 200px;
    border: 1px solid black;

}

nav.container1{
   margin: 20px;
}

nav.container1, h1{
    font-family: Montserrat
}

nav.container2, img{
    width: 300px;
}
