@charset "UTF-8";

/* Estilos para css */


*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgray;
}

header h1{
    text-align: center;
}

menu li{
    display: inline-block;
    padding: 10px;
    background-color: gray;
    color: white;
}

menu ul{
    list-style: none;
    background-color: darkgray;
}

article{
    display: block;
    width: 600px;
    margin: auto;
}