@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); 

/*           font-family: "Outfit", sans-serif;             */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container{
    width: 340px;
    background-color: white;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.200);
}


.img{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.img img{
    height: 300px;
    border-radius: 10px;
}

.content{
    width: 280px;
    margin: 0 auto;
}

h1{
    font-family: "Outfit", sans-serif;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p{
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 15px;
    width: 260px;
    margin: 0 auto;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}



