*{
    margin: 0;
    padding: 0;
    
}

section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}

.microsoft{
    width: 350px;
    margin: 25px;
   
}

.Square.Red{
    background-color: #f35322; 
}

.Square.Green{
    background-color: #81dc05;    
}

.Square.Blue{
    background-color: #05a6f1;
}

.Square.Yellow{
    background-color: #ffba05;
    
    
}

.Square{
    width: 150px;
    height: 150px;
    margin: 0px 0px 10px 10px;
    float: left;

}