@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

/* LAYOUT */

#cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}


#logo, #menu{
    padding: 10px;
}

#principal{
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}


#post{
    width: 660px;
    float: left;
    
}

#lateral{
    width: 240px;
    float: right;
    
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#rodape{
    background-color: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;
}

/* Formatações do Menu */

a{
    text-decoration: none;
    transition: .3s ease-out;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#cabecalho a:link, #cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#cabecalho a:hover{
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}

/* Formatações Gerais */

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}

h3{
    background-color: #ccc;
    color: #565656;
    padding: 5px;
    text-align: center;
}

.branco{
    color: white;
}

.datapost{
    font-size: 0.8em;
    font-weight: bold;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    display: block;
}

.postagem-lateral{
     font-size: 0.8em;
     padding: 5px;
     /* border-bottom: 1px solid #ccc; */
}

img{
    width: 620px;
}
