@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    /* border: 1px solid red; */
}

.logo{
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png);
    text-indent: -3000px;
}

/* Barra de navegação */

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    line-height: 2.1em;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
}

body.home #nav a#home,
body.Brasil #nav a#Brasil,
body.Internacional #nav a#Internacional,
body.Fotos #nav a#Fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/* Configurando layout */

#conteudo{
    background: #f5f5f5;
    margin-top: 60px;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}


#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

.caixa{
    margin: 10px 0px;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(imagens/fundo-caixa.png);
}

h2{
    font-size: 1em;
    color: #fff;
    background: #294c71;
    padding: 5px;

}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* Formatar menu lateral */

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: #f3f3f3;

    transition: .1s ease-in;
}

#lateral ul a:hover{
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/* Imagens  */

img.imagem-principal{
    width: 90%;
    border: 3px solid #dfdfdf;
}

/* Cabeçalho */

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background: #b10333;
    color: #fff;
}

.entrevista h3{
    background: #de003e;
}

/* Rodape */

#rodape{
    clear: both;
    background-color: #294c71;
    padding: 20px;
}

#roda-pe{
    width: 750px;
    margin: 0 auto;
    color: #fff;

}