@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A6A492;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container{
    width: 60vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    background-image: linear-gradient(to left, #A6A492, #F2DFCE);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease;
}

.container h1, h2{
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px #8c030e77;
    color: #8C030E;
    font-weight: bolder;
    font-size: 2em;
}

.container p{
    text-align: justify;
    padding: 1.1em;
    color: black;
    font-style: oblique;
    font-weight: normal;
    font-size: 1em;
}

.container:hover{
    transform: scale(1.2);
    background-color: #f2dfce93;
}




