@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/*    font-family: "Hanken Grotesk", sans-serif;     */



body, html{
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.principal{
    /* background-color: aqua; */
    width: 600px;
    height: 400px;
    border-radius: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.069);
}

.primario{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    float: left;
    width: 300px;
    height: 100%;
    border-radius: 30px;
}



.primario h3{
    text-align: center;
    color: white;
    margin-bottom: -40px;
    margin-top: 30px;
    opacity: .8;
}

.circulo{
    margin: 0 auto;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
}

.circulo p{
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    color: white;
    padding-top: 20px;
}

.circulo .p2{
    color: white;
    opacity: .4;
    font-size: 1em;
    margin-top: -95px;
}


.primario h1{
    text-align: center;
    color: white;
    font-weight: 500;
}

.primario .p3{
    width: 230px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 300;
    opacity: .6;
}


/*Primaria terminada*/

.secundario{
    position: relative;
    float: right;
    width: 300px;
    height: 100%;
}

.secundario h2{
    text-align: start;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.3em;
}

.var{
    margin-top: 40px;
}

.var1{
    position: relative;
    margin-left: 75px;
    font-weight: 500;
    font-size: .9em;
}
.var2{
    position: absolute;
    right: 35px;
    color: rgba(0, 0, 0, 0.473);
    font-weight: 700;
    font-size: .9em;
}

.porcento{
    font-weight: 700;
    color: black;
}


.var1 img{
    position: absolute;
    left: -25px;
    top: 1px;
    width: 16px;
}

.secundario button{
    position: absolute;
    left: 13%;
    top: 80%;
    width: 230px;
    height: 45px;
    border-radius: 30px;
    border: 0px;
    font-size: .9em;
    font-weight: 500;
    color: white;
    background: hsl(224, 30%, 27%);
    cursor: pointer;

    transition: background-image 0.7s ease;
}

.secundario button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


.var1 .v1{
    color: hsl(0, 100%, 67%);
}

.var1 .v2{
    color: hsl(39, 100%, 56%);
}

.var1 .v3{
    color: hsl(166, 100%, 37%);
}

.var1 .v4{
    color: hsl(234, 85%, 45%);
}


@media (max-width:650px){

    .container{
        display: block;
        
    }

    .principal{
        width: 375px;
        display: block;
        margin: 0 auto;
    }
    .primario{
        width: 375px;
        float: none;
    }
    .secundario{
        position: relative;
        width: 375px;
        float: none;
        margin-top: -60px;
        box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.095);
        border-radius: 30px;
        padding-bottom: 20px;
    }

    .secundario h2{
        padding-top: 50px;
    }

    .secundario .var1{
        margin-left: 70px;
    }

    .secundario button{
       position: absolute;
       left: 7.5%;
       width: 85%;
       height: 50px;
       margin-top: 20px;
    }
}